datacenter = "{{ DATA_CENTER }}"
data_dir = "/opt/consul"

# Logging
log_level = "DEBUG"

# Enable service mesh
connect {
  enabled = true
}

# Addresses and ports
#addresses {
#  grpc = "127.0.0.1"
#  https = "0.0.0.0"
#  dns = "0.0.0.0"
#}

server = false
#client_addr = "127.0.0.1"
bind_addr = "0.0.0.0"
#advertise_addr = "\{\{ GetInterfaceIP {{ DEFAULT_NIC }} \}\}" # DEFAULT_NIC is device and it could be 'enpos17' , or 'wol1'
advertise_addr = "{{ PRIVATE_IP_ADDR }}"

# Note we have a default 'follower' server type here.
# That's why we don't instantiate the bootstrap_expect
# There's just a retry_join IP
# bootstrap_expect = 1
retry_join = ["{{ CONSUL_SERVER_LEADER_PUBLIC_IP }}"]

# TLS

# ACL
